.wall {
    height: calc(100vh - var(--Navbar-height));
    overflow-y: scroll;
    background-image: url('./background.min.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center -40px;
}

.section {
    padding: 1.5rem;
}

.video-container {
    position: relative; 
    width: 100%; 
    padding-top: 56.25%; /* 16:9 Aspect Ratio */ 
}

.video {
    position: absolute; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 33em) {
    .wall {
        background-size: 160%;
        background-position: center -80px;
    }

    .section {
        padding: 2rem 2.5rem;
    }
}

@media screen and (min-width: 48em) {
    .wall {
        background-position: center -130px;
    }

    .section {
        padding: 4rem;
    }
}

@media screen and (min-width: 62em) {
    .wall {
        background-size: 115%;
        background-position: center -130px;
    }

    .section {
        padding: 6rem 16rem;
    }
}
