img {
    display: block;
    width: 23vw;
    height: auto;
    margin-top: -35px;
}

.navi{
     background-color:black;
     text-align: left; 
     position: fixed;
     cursor: pointer;   
}

.nburger-hidden{
    overflow: hidden;
    width: 2.75vw;
    position: relative;
    transition: ease 0.8s;
    height: 79px;
}

.nburger-show{
    width: 100vw;
    position: relative;
    transition: ease 1s;
    overflow: hidden;
    height: 79px;
}


.credit-video {
    text-align: right;
    margin-top: -170px;
    margin-right: 156px;
    margin-left: 300px;
    cursor: pointer;
}
