
/* LES VIDEO */

.video{

    height: 100vh;
    width: 100%;
    margin: 0;
}

.wall{
    /*height: 100vh;*/
    overflow: scroll;
}

.buttonDown{
	position: fixed;
	bottom: 120px; 
}

 .buttonUp{
 	position: fixed;
 	top: 99px;
 }

 .button-down{
 	float: right;
 	min-width: 17vh;
 }

 .button-up{
 	float: right;
 	min-width: 374vh;
 	position: absolute;
 }

 .arrow-down {
    height: 3vh;
    width: 3vh;
}

.arrow-up {
    height: 3vh;
    width: 3vh;
}

/***********************************/


