
/* LES VIDEO */

.video{

    height: 100vh;
    width: 100%;
    margin: 0;
}

.wall{
    /*height: 100vh;*/
    overflow: scroll;
}

.buttondown{
	position: fixed;
	bottom: 20px; 
}

/***********************************/


