
/* LES VIDEO */

.video{
    border: 6px inset #fe2020;
    margin-top:0.5em;
    width: 99vw;
    height: 88vh;

    
}

.section{
    padding-top: 25px;

}
.wall{
    padding-top: 25px;
    display: flex;
}

/***********************************/
@media only screen and (max-width: 982px){
    .video{
        border: 6px inset red;
        height: 94.5vh;
        width: 94vw;
        margin-top: 0;
     }
     .wall{
        display: flex;
        flex-direction: column;
        padding-top: 0;
     }
     body{
         overflow-x: hidden;
         overflow-y: visible;
     }
 }

