@import '~normalize.css';

:root {
    --Navbar-height: 3.125rem;
    --body-height: calc(100vh - var(--Navbar-height));
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font: 100%/1.5 system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
    background-color: #000;
}
